<div class="p-5 mb-4 <%= @background %> rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= @result %></h1>
    <p class="col-md-8 fs-4">This is current pollution condition</p>
    <hr class="my-4"/>
    <p><%= @description %></p>
  </div>
</div>